

@media(max-width:768px){
    .header_btn{
        padding: 7px 10px;
    }
    .home-header{
        gap: 20px;
    }

}
@media(max-width:620px){
   .element{
    display: none;
   }
   .header_btn{
    font-size: 14px;
    padding: 7px 8px;
    // display: none;
   }
   .menu_icon{
    display: block;
}

}
@media(max-width:1115px){
    .container{
        padding:15px 10px;
    }
    .navbar{
        padding-top: 30px;
    }
}

